body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;  // diese light grey
}

.centered-container {
    width: 300px;
    height: 600px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: lightblue;
}

.chat-container {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: lightblue;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: lightgrey;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: olive;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
