<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <!-- test test 1 anzeigen  -->
        <p>ioo</p>
    </div>
   <div> <!-- test test 2 schreiben --></div>
    <script src="{{ url_for('static', filename='javascript/scripts.js') }}"></script>
</body>
</html>
